.content {
    width: 500px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
}

.grid-element {
    background-color: white;
    margin: 0;
    padding: auto;
    border: solid 1px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
}